@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fw-bold">Bienvenidos a Nuestra Clínica UPN</h1>

    <div>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://static.wixstatic.com/media/c51e96_ec563d65616e427ea577d6d90a8c984f~mv2.png/v1/fill/w_640,h_260,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c51e96_ec563d65616e427ea577d6d90a8c984f~mv2.png" class="d-block w-100" height="450" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://clinicalederma.pe/wp-content/uploads/2021/04/LeDerma-Banner-Promociones.jpg" class="d-block w-100" height="450" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://medvidasalud.com/wp-content/uploads/banner-examenes-medicos-para-brevetes-medvida-salud-ocupacional.webp" class="d-block w-100 " height="450" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br /><br />

    <div>

        <div class="card">
            <div class="card-header text-start fw-bold">
                <h3>Nuestro Personal entre Medic@s y Enfermer@s</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="https://cdn.lecturio.com/assets/Featured-image-Student-Blog-Hospital-Team.jpg" height="280" width="520" />
                    </div>
                    <div class="col-6">
                        <br /><br />
                        <h3>Médicos de alta calidad técnica y humana Somos una clínica privada que ofrece la mejor atención de salud de alta complejidad a nuestros pacientes</h3>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="card">
            <div class="card-header text-start fw-bold">
                <h3>Nuestro Servicios</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="https://www.seisamed.com/wp-content/uploads/10-Equipos-medicos-que-no-deben-faltar-en-ningun-hospital.jpg" height="280" width="520" />
                    </div>
                    <div class="col-6">
                        <br /><br />
                        <h3>Te ofrecemos una atención de calidad de la mano de los mejores profesionales, infraestructura y equipamiento.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<hr />
<div class="contained">
    <h2>Nos encontramos cerca de usted y tu familia</h2>
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.3146756242854!2d-77.02085112570781!3d-12.090596842716844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c87b8819d459%3A0x6da256a012fc08ab!2sCl%C3%ADnica%20Ricardo%20Palma!5e0!3m2!1ses-419!2spe!4v1697872576569!5m2!1ses-419!2spe"
            width="1110" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

